cd backend
python -m venv .venv
 .\.venv\Scripts\activate
pip install fastapi email-validator uvicorn python-jose[cryptography] passlib[bcrypt] pymysql sqlalchemy -i https://pypi.tuna.tsinghua.edu.cn/simple
pip install requests -i https://pypi.tuna.tsinghua.edu.cn/simple

npx create-vite@latest frontend --template vue
cd frontend


npm install axios element-plus
npm run dev